* {
  font-family: 'Alegreya Sans', sans-serif;
  background-color: gainsboro;
}

.navbar {
  background-color: salmon;
}
body {
background-color: gainsboro;
}

.center {
  margin: auto;
  text-align: center;
  width: 100%;
  display: inline-block;
  float: none;
}
.top {
  margin-top: 0em;
}

.introWrapper {
  margin-top: 5em;
}

.gButton {
  background-color: salmon;
}

.rightHandForm {
  margin-left: 0em;
  float: right;
}

.hide {
  display: none;
}

#questions[currentQuestion].answers:checked {
  border: 20px solid black;
}